<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
    <h1>Misasa Development</h1>
    <h2>kakao story link</h2>
    <div>
      <p>
        https://github.com/kakao/kakaolink-web 를 복붙
      </p>
      <script type="text/javascript" src="{{ url_for('static', filename='kakaolink/kakao.link.js') }}"></script>
      <script type="text/javascript">
      function executeKakaoStoryLink() {
        kakao.link("story").send({
          post : "http://m.media.daum.net/entertain/enews/view?newsid=20120927110708426",
          appid : "m.media.daum.net",
          appver : "1.0",
          appname : "미디어다음",
          urlinfo : JSON.stringify({title:"(광해) 실제 역사적 진실은?", desc:"(광해 왕이 된 남자)의 역사성 부족을 논하다.", imageurl:["http://m1.daumcdn.net/photo-media/201209/27/ohmynews/R_430x0_20120927141307222.jpg"], type:"article"})
        });
      }
      </script>
      <button type="button" class="btn-kakao-story-link">run</button>
      <script>
      (function() {
        $('.btn-kakao-story-link').click(function() {
          executeKakaoStoryLink();
        });
      })();
      </script>
    </div>
    <h2>facebook wall</h2>
    <div>
      <button class="btn-fb-share">test</button>
    </div>
  </body>
</html>