{% extends 'skeleton.html' %}
{% import '_macros.html' as macros %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
{#
PC의 경우는 배경이미지 깔고 그 위에 필요한 항목을 올린다
가변폭을 고려하지 않았기때문이 이것이 유일한 해결책이다
#}
<div class="background-pc">
  <form method="POST" action="{{ url_for('api_register_user') }}" name="form-pre-registration">
    <select name="os_type">
      <option value="a">Android</option>
      <option value="i">iPhone</option>
    </select>

    <label><span hidden>phone</span>
      <input type="text" name="phone" value=""/>
    </label>

    <label><span hidden>parent</span>
      <input type="text" name="parent" value="{% if parent %}{{ parent }}{% endif %}"/>
    </label>

    <label for="agreement" class="label-agreement">
      <i class="btn-image "></i>
    <input type="checkbox" id="agreement" name="agreement"/>
    </label>

    <button type="submit" class="btn-image sprite-segments-apply_btn">
      사전 등록 신청
    </button>

  </form>

  <a class="btn-fb-share sprite-segments-fb_btn btn-image btn-pc-fb" href="javascript:;">
    페이스북
  </a>
  <a class="btn-kakao-talk-link sprite-segments-kt_btn btn-image btn-pc-kakaotalk" href="javascript:;" >
    카카오톡
  </a>
  <a class="btn-kakao-story-link sprite-segments-ks_btn btn-image btn-pc-kakaostory" href="javascript:;">
    카카오스토리
  </a>

  <a href="#disqus_thread" class="sprite-segments-cheer_btn btn-image btn-pc-cheer">
    응원댓글 남기기
  </a>

  <form name="form-refcount-pc">
  <label><span hidden>전화번호</span>
    <input type="text" name="phone" value="" maxlength="9" placeholder="내 번호 입력"/>
  </label>
  <button type="submit" class="btn-parent-count sprite-segments-refercount_btn btn-image">
    내 번호로 사전 등록한 사람수
  </button>
  <label><span hidden>내 번호로 사전등록한 사람수</span>
    <input type="text" name="parent_count" value="-" readonly>
  </label>

  </form>
</div>
{% endblock %}

{% block disqus_content %}
<div class="disqus-wrapper">
{{ macros.render_disqus() }}
</div>
{% endblock %}