<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>꼬모:냥이 추적자</title>
    <meta name="description" content="꼬모:냥이 추적자">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- open graph -->
    <meta property="og:title" content="꼬모:냥이 추적자 사전등록"/>
    <meta property="og:url" content="{{ request.base_url }}"/>
    <meta property="og:image" content="http://{{ request.host }}{{ url_for('static', filename='images/shared-badge/badge-270.jpg') }}"/>
    <meta property="og:description" content="게임인재단 3회 대상 수상작! 꼬모:냥이 추적자에 사전등록했어요. 같이 즐기고 선물도 받아요~! #꼬모"/>
    <meta property="og:type" content="website"/>

    <!-- favicon -->
    <link rel="shortcut icon" href="http://{{ request.host }}{{ url_for('static', filename='images/favicon.ico') }}" />

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    {% block head_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sprites/segments.css') }}">
    {% endblock %}

    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>

    <script>
      <!-- 외부 js에서 사용하는 변수를 미리 할당 -->
      var FACEBOOK_APP_ID = {{ config['FACEBOOK_APP_ID']|tojson }};
      var KAKAO_API_KEY = {{ config['KAKAO_API_KEY']|tojson }};
    </script>
  </head>
  <body>
    {% block content %}
    {% endblock %}

    {% block disqus_content %}
    {% endblock %}


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='kakaolink/kakao.link.js') }}"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- facebook sdk -->
    <script>
    (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-52496180-1');ga('send','pageview');
    </script>
  </body>
</html>